.home{
    background-image: url('../img/emilia-home.jpg');/* Para poner una imagen en el body */
    background-repeat: no-repeat;/* Para ver cuantas veces se repite la imagen */
    background-position: right 0;/* posiciona la imagen en el lado derecho, primer parametro eje horizontal,segundo eje vertical */
    background-size: 65%;/* Acomoda la imagen a nuestra pantalla */
    text-transform: uppercase;/* Cambia la letra a MAYUSCULA */
}
/* .home sirve para que me respete lo que indico en el home.css ya que es en cascada el CSS */
/* #header {
    background-color: aquamarine;
} ejemplo*/

.home header{
    margin-left: 30px; /* Se mueve todo a la derecha */
}

.home header nav ul li{
    margin: 10px 0; /* Para tener espacio arriba y abajo y el otro para tener espacio de izquierda a derecha */  
}

.home header nav ul li a {
    color: #6b6b6b;/* Cambia el color de las letras de los hiperpervinculos de la lista del header */
}

.home header nav ul a {
    
    font-size: 20px;
}

.home main {
    margin-top: 140px;/* Para que Emilia Cole// se separe de arriba */
}

.home main h2{
    margin-bottom:130px;/* Para que emilia Cole // se separe de abajo */
    margin-left: 30px;/* Para que se separe del lado izquierdo */
    font-family: var(--fuenteSubtitulos);
    font-size: 25px;
    font-weight: 300;/* Asi puedo usar la letra light 300 */
    letter-spacing: 5px;/* Separa las letras */
}

.home main h1{
    font-size:89px;/* Tamaño de la letra. 3rem = 48px */
    background-color: #fefefe65;
    font-family: var(--fuenteTitulos);/* Para combiar de tipo de letra */
    font-weight: 600;
    margin-left: 5px;
}