@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;600;700&display=swap');/* Estas letras las obtengo desde Google fonts */

:root{
    --fuenteTitulos: 'Raleway', sans-serif;/* Cambio el tipo de letra del titulo */
    --fuenteSubtitulos: 'Open Sans' ,sans-serif;/* Cambio el tipo de letra del subtitulo */
    --colorSecundarioFuentes:#1c9a85;;
}
/* :root creo mi sistema de variables, la cual puedo usar en todo momento */